[Unit]
Description=RakuOS Overlay Sync
Documentation=https://rakuos.org
After=network-online.target systemd-resolved.service rakuos-overlay-mount.service plymouth-start.service
Wants=network-online.target systemd-resolved.service plymouth-start.service
Before=display-manager.service plymouth-quit.service plymouth-quit-wait.service
ConditionPathExists=/var/lib/rakuos/packages.list

[Service]
Type=oneshot
ExecCondition=/bin/bash -c 'nmcli -t -f TYPE,STATE device | grep -qE "^(ethernet|wifi):(connected|connecting)$"'
ExecCondition=/usr/bin/nm-online -q --timeout=20
ExecStart=/usr/libexec/rakuos/rakuos-overlay-sync
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target