[Unit]
Description=RakuOS Package Root Init
Documentation=https://rakuos.org
After=local-fs.target
Before=rakuos-pkgroot-sync.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/rakuos/rakuos-pkgroot-init
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
