[Unit]
Description=RakuOS User Setup Service
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/rakuos/rakuos-user
RemainAfterExit=true

[Install]
WantedBy=default.target